### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.csv
.ipynb_checkpoints
__pycache__/
data
*.csv
*.wav
*.exe
mlruns
/src/model
#tensorflow_tts/
results/
#model/fastspeech/vocgan_kss_pretrained_model_epoch_4500.pt
#model/fastspeech/ckpt